* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 20px;
  display: grid;
  place-items: center;
  margin: 0;
  background: linear-gradient(to bottom, #aaaaaa, #eeeeee);
  overflow: hidden;
}


#spin_the_wheel {
  display: grid;
  place-items: center;
  width: min(80vw, 80vh); /* 寬高都考慮，取小的 */
  height: min(80vw, 80vh);
  max-width: 800px;
  max-height: 800px;
  position: relative;
  overflow: hidden;
}


#wheel {
  width: 100%;
  height: 100%;
}

#spin {
  font:
    1.5em/0 "Lato",
    sans-serif;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 直接用 transform 中心對齊！ */
  background: #fff;
  color: #fff;
  box-shadow:
    0 0 0 8px currentColor,
    0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: 0.8s;
}

#spin::after {
  content: "";
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
